In [0]:
#Reading single File
df_s = spark.read.format("csv").option("inferSchema", True).option("header", True).option("sep",",").load("/FileStore/tables/employee.csv")

display (df_s)
# gives number of records/row counts
print(df_s.count())

df_s.printSchema()

Employee_id,Emp_First_name,Emp_Last_Same,Experience,Salary
10,Mohan,S.,9,60000
20,Harish,K,2,25000
30,Ashish,XYZ,3,30000
40,Anupam,BBB,5,40000
50,Xaviour,XYZ,8,50000
60,john,null,2,null
null,**,**,null,8000
null,null,null,null,null
90,kamal,xyz,7,70000

9
root
 |-- Employee_id: integer (nullable = true)
 |-- Emp_First_name: string (nullable = true)
 |-- Emp_Last_Same: string (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [0]:
#Reading single File
df_s1 = spark.read.format("csv").options(inferSchema= True, header= True, sep= ",").load("/FileStore/tables/employee.csv")

display (df_s1)
# gives number of records/row counts
print(df_s1.count())

df_s1.printSchema()

Employee_id,Emp_First_name,Emp_Last_Same,Experience,Salary
10,Mohan,S.,9,60000
20,Harish,K,2,25000
30,Ashish,XYZ,3,30000
40,Anupam,BBB,5,40000
50,Xaviour,XYZ,8,50000
60,john,null,2,null
null,**,**,null,8000
null,null,null,null,null
90,kamal,xyz,7,70000

9
root
 |-- Employee_id: integer (nullable = true)
 |-- Emp_First_name: string (nullable = true)
 |-- Emp_Last_Same: string (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)